{% extends "CinemaManager/base.html" %}

{% block content %}
    <h1>Clubs List</h1>
    <a href="{% url 'add_club' %}">
        <button>Add New Club</button>
    </a>
    {% if clubs %}
        <table>
            <thead>
                <tr>
                    <th>Club Id</th>
                    <th>Club Name</th>
                    <th>Representative</th>
                    <th>Street No</th>
                    <th>City</th>
                    <th>Mobile Phone</th>
                    <th>Email</th>
                    <th>Discount</th>
                    <th>Balance</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for club in clubs %}
                <tr>
                    <td>{{ club.club.username }}</td>
                    <td>{{ club.club_name }}</td>
                    <td>{{ club.rep_fname }} {{ club.rep_lname }}</td>
                    <td>{{ club.street_no }}</td>
                    <td>{{ club.city }}</td>
                    <td>{{ club.mobile_phone }}</td>
                    <td>{{ club.email }}</td>
                    <td>{{ club.discount }}%</td>
                    <td>£{{ club.balance }}</td>
                    <td>
                        <a href="{% url 'update_club' club.id %}">
                            <button>Update</button>
                        </a>
                    </td>
                    <td>
                        <a href="{% url 'delete_club' club.id %}">
                            <button>Delete</button>
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No clubs found.</p>
    {% endif %}
{% endblock %}