{% extends "CinemaManager/base.html" %}

{% block content %}
    <form method="post">
        <h1>Delete Screen</h1>
        {% csrf_token %}
            <label for="screen_select">Select a screen to delete:</label>
            <select name="screen_id" id="screen_select" class="form-control">
                {% for screen in screens %}
                    <option value="{{ screen.screen_id }}">{{ screen.name }}</option>
                {% empty %}
                    <option disabled>No screens available.</option>
                {% endfor %}
            </select>
        <button type="submit" class="btn btn-danger">Delete screen</button>
    </form>
  
{% endblock %}
