{% extends "CinemaManager/base.html" %}

{% block content %}
    <h1>All Available Screens:</h1>

    <a href="{% url 'addScreenForm' %}" class="btn">Add Screen</a>

    <div class="item-container">
        {% for screen in screens %}
        <div class="item-card">
            <div class="item-content">
                <h3>{{ screen.name }}</h3>
                <p>Number of Seats: {{ screen.no_seats }}</p>
            </div>
            <div class="item-actions">
                <a href="{% url 'editScreen' screen_id=screen.screen_id %}" class="btn edit-btn">Edit</a>
            </div>
        </div>
        {% empty %}
            <p>No screens available.</p>
        {% endfor %}
    </div>
{% endblock %}
