<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'base.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'registration/registration.css' %}"/>
</head>
<body>
    <nav>
        <ul>
            <li><a href="{% url 'homepage' %}">Home</a></li>
            <li><a href="{% url 'filmList' %}">Films</a></li>
            <li><a href="{% url 'showingList' %}">Showings</a></li>
            <li><a href="{% url 'screenList' %}">Screens</a></li>
            <li><a href="{% url 'clubs_list' %}">Clubs</a></li>
            <li><a href="{% url 'cinema_settings' %}">Cinema Settings</a></li>
        </ul>
    </nav>
    
    <main>
        {% block content %}{% endblock %}
    </main>

    {% block extra_bottom_js %}{% endblock %}
</body>
</html>
