<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'base.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'registration/registration.css' %}"/>
  </head>
  {% block content %}
    

  
      <form method="post" action="{% url 'addScreen' %}">
        <h1> Add Screen </h1>
      {% csrf_token %}
  
      {{ form.screen_id.label_tag }}
      {{form.screen_id}}
      
      <input type="number" name="screen_id" id="screen_id" placeholder="Enter Screen ID"/>

      {{ form.no_seats.label_tag }}
      {{form.no_seats}}

      <input type="number" name="no_seats" id="no_seats" placeholder="Enter number of seats"/>
  
      <button type="submit" value="addscreen"> add screen </button>
      </form>

    {% endblock %}
</html>