{% extends "CinemaManager/base.html" %}

{% block content %}
    <h1>Showings</h1>

    <a href="{% url 'addShowingForm' %}" class="btn">Add Showing</a>
    <a href="{% url 'deleteShowing' %}" class="btn">Delete Showing</a>
    
    <div class="item-container">
        {% for showing in showings %}
        <div class="item-card">
            <div class="item-content">
                <h3>{{ showing.film.title }}</h3>
                <p>Time: {{ showing.time }}</p>
                <p>Date: {{ showing.date }}</p>
                <p>Available Seats: {{ showing.available_seats }}</p>
                <p>Screen: {{ showing.screen.name }}</p>
            </div>
            <div class="item-actions">
                <a href="{% url 'editShowing' showing_id=showing.showing_id %}" class="btn edit-btn">Edit</a>
            </div>
        </div>
        {% empty %}
            <p>No showings available.</p>
        {% endfor %}
    </div>
{% endblock %}
