<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'base.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'registration/registration.css' %}"/>
</head>
<body>
    <nav>
        <ul>
            <li><a href="{% url 'film_list' %}">Films</a></li>
            <li><a >Showings</a></li>
            <li><a >Screen</a></li>
            <li><a >Account</a></li>
        </ul>
    </nav>
    
    <main>
        {% block content %}{% endblock %}
    </main>

    <!-- Add your JavaScript dependencies here, such as jQuery or Bootstrap's JS -->
    {% block extra_bottom_js %}{% endblock %}
</body>
</html>
