<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'base.css' %}"/>
    </head>

    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/auth/accounts/login/">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/auth/registration/customer">Register</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/customer/select_date_showings">Book</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        {% block content %}
        {% endblock %}
    </body>
</html>