{% extends "CinemaManager/base.html" %}

{% block content %}
    <h1>Films</h1>

    <a href="{% url 'addFilmForm' %}" class="btn">Add Film</a>
    <a href="{% url 'deleteFilm' %}" class="btn">Delete Film</a>
    
    <div class="item-container">
        {% for film in films %}
        <div class="item-card">
            <h2>{{ film.title }}</h2>
            <p class="age-rating">Age rating: {{ film.age_rating }}</p>
            <p class="duration">Duration: {{ film.duration }} mins</p>
            <p>Description: {{ film.description }}</p>
            <a href="{% url 'editFilm' film_id=film.film_id %}" class="btn btn-primary">Edit</a>
          </div>
        {% empty %}
            <p>No films available.</p>
        {% endfor %}
    </div>
{% endblock %}
